CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
compile_commands.json
.vs/
out/
install_manifest.txt
lib*.a
mm_manager
mm_admess
mm_areacode
mm_callscrn
mm_card
mm_carrier
mm_coinvl
mm_featru
mm_instsv
mm_lcd
mm_dlog2pcap
mm_rate
mm_rateint
mm_rdlist
mm_smcard
mm_table_cutter
mm_card_mtr1
mm_carrier_mtr1
mm_convert_callscrn_mtr2_to_mtr1
mm_convert_card_mtr2_to_mtr1
COCodeStatus_ALL.csv
COCodeStatus_ALL.zip
allutlzd.txt
allutlzd.zip
lata-*.csv
npa_report.csv
*.pcap
*.bytes
