allutlzd.txt
allutlzd.zip
*.bytes
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
COCodeStatus_ALL.csv
COCodeStatus_ALL.zip
compile_commands.json
CPackConfig.cmake
CPackSourceConfig.cmake
install_manifest.txt
lata-*.csv
lib*.a
Makefile
mm_admess
mm_areacode
mm_callin
mm_callscrn
mm_callstat
mm_card
mm_card_mtr1
mm_carrier
mm_carrier_mtr1
mm_coinvl
mm_commstat
mm_convert_callscrn_mtr2_to_mtr1
mm_convert_card_mtr2_to_mtr1
mm_dlog2pcap
mm_fconfig
mm_featru
mm_instsv
mm_lcd
mm_dlog2pcap
mm_packtest
mm_luhn
mm_manager
mm_manager.db
mm_rate
mm_rateint
mm_rdlist
mm_smcard
mm_table_cutter
mm_userif
npa_report.csv
out/
*.pcap
.vs/
